html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    position: relative !important;
    margin: 0 !important;
    padding: 0 !important;
} */
 * {
    -moz-box-sizing: border-box !important; 
    box-sizing: border-box !important;
}

/* ------------------------ */
/* -------- HEADER -------- */
/* ------------------------ */
header {
    width: 100%;
    background-color: #23272b;
    color: #fff;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 20% !important;
}

.img_footer img {
    width: 22%;
}

/* ------------------------ */
/* -------- Form ---------- */
/* ------------------------ */
.main {
    position: relative;
    top: -42px;
}

.img_form img {
    width: 15%;
    position: relative;
    right: 200px;
}

.main-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 12px 12px #23272b;
    border: 1px solid #23272b;
}

.container-tchat {
    width: 100%;
    height: 600px;
    background-color: #fff;
    padding: 30px;
    overflow: scroll;
}

.old-research {
    text-align: center;
    padding: 10px;
    font-style: italic;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 10px;
}

.icon-human {
    width: 25px;
    height: 25px;
    margin-right: 22px;
}

.icon-bot {
    width: 44px;
    height: 42px;
    margin-right: 5px;
}

button {
    margin-top: 10px;
    color: #ffbe00 !important;
}

.space-main {
    min-height: 200px;
}

.result {
    margin-left: 3px;
    background-color: #23272b;
    border-radius: 8px;
    color: #ffbe00;
    padding: 8px;
    width: -webkit-fill-available;
}

a {
    text-decoration: none;
    color: #00a2c7 !important;
    font-style: italic;
}
/* ------------------------ */
/* -------- MAP ----------- */
/* ------------------------ */
#map {
    height: 400px;
    width: 100%;
    margin-bottom: 15px;
}

/* ------------------------ */
/* ------ OVERLAY --------- */
/* ------------------------ */
.sf-overlay {
    background-color:   rgba(0, 0, 0, 0.8);
    height:             100%;
    left:               0px;
    position:           fixed;
    top:                0px;
    width:              100%;
    z-index:            9000;
}
    
#divOverlayLoad {
    cursor:     wait;
}

.div-loader {
    bottom:         0;
    color:          #fff;
    height:         85px;
    left:           0;
    margin:         auto;
    position:       absolute;
    right:          0;
    text-align:     center;
    top:            0;
    width:          200px;
}

/* ------------------------ */
/* -------- Footer -------- */
/* ------------------------ */
footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding:63px 0px 0px 0px;
    text-align: center;
    color: #fff;

}

.elements-footer {
    background-color: #23272b;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link_github {
    text-decoration: none;
    color: #ffbe00;
}
