{% extends 'template.html' %}

{% block content %}
<header class="container-fluid">
    <div class="row align-items-center">
        <div class="logo col-4">
            <img class="img img-fluid" src="static/img/logo_.png" alt="GrandPy Bot Logo">
        </div>
        <div class="title col-4 col-offset-4">
            <h1 class="phrasing text-center">GrandPy Bot</h1>
            <p class="text-center">Le robot qui vous fait voyager.</p>
        </div>
    </div>
</header>
<div class="container-fluid main">
    <div id="divOverlayLoad" class="sf-overlay d-none">
        <div class="div-loader">
            <i class="fas fa-spinner fa-pulse fa-3x"></i>
            <p><small>Chargement en cours, patientez...</small></p>
        </div>
    </div>
    <div class="img_form d-flex justify-content-center">
        <img class="img img-fluid" src="static/img/clap-trap-crasy.png" alt="">
    </div>
    <div class="container main-form">
        <div class="container-tchat" id="container-tchat"></div>
        <form id="question">
            <div class="form-group">
                <br/>
                <input type="text" class="form-control" name="mess-user" id="mess-user" placeholder="Poser votre question..."/>
            </div>
            <button type="submit" id="send" role="submit" class="btn btn-dark ml-auto mr-auto">Envoyer</button>
        </form>
    </div>
</div>
<footer>
    <div class="img_footer d-flex justify-content-end">
        <img class="img img-fluid" src="static/img/clap-back.png" alt="">
    </div>
    <div class="elements-footer">
        <p>Elodie Meunier</p>
        <a href="https://github.com/eme-subteno-it/project7">Mon lien GitHub</a>
    </div>
</footer>
{% endblock %}